*{
     width: 500px;
     margin: auto;
     width: 800px;
}

body {
     /* background-image: url("../image2/spaaagggg.jpg"); */
     background:linear-gradient(rgb(86, 17, 78),rgb(230, 53, 53));
     
     background-attachment: fixed;
     color: white;
}


h1 {
     text-align: center;
     text-decoration: underline;
     text-transform: capitalize;
}


#intro {
     text-align: center;
     font-style: italic;
     font-size: large;
}



h2 {
     margin: auto;
     padding: 0;
     font-style: oblique;
}


*{
     /* margin: auto; */
     padding: 0;
     flex-direction: column;
     
     
/*       */
}

h4{
     font-size: 100%;
     text-transform: uppercase;
     text-decoration: underline;
     text-align: center;
     
}


td,th{
     border: 1px solid black;
     padding: 0.5rem;
     text-align: left;
     align-items: center;
     margin: auto;
}




table{
     border-collapse: collapse;
     
}



img{


     width: 450px;
     height: 300px;
     margin: 20px;
   
   

}

#list{
     margin-left: 20px;
}


.img1{
     
     float: right;
     width: 50px;
     height: 100px;
     margin-right: 250px;
     
     
}

.img3 {
     
     width: 100px;
          height: 100px;
          float: right;
          margin-right: 200px;

}
